[Unit]
Description=The Light Sensor Service
After=network.target remote-fs.target nss-lookup.target

[Service]
ExecStart=/home/pi/executeLightSensorService.sh
Type=simple
User=pi
WorkingDirectory=/home/pi/

[Install]
WantedBy=multi-user.target

